%div.side-bar
  %div.side-bar__header
    %div.side-box
      %p.user-name masa
      %ul.iconlist
        %li.icon
          = link_to "#", class: "icon__btn--edit" do
            = icon('far', 'edit', class: "far-edit")
        %li.icon
          = link_to "#", class: "icon__btn" do
            = icon('fas', 'cog' , class: "fas-cog")
  %div.group-list
    %div.group
      %div.group--name techcamp
      %div.group--message まだメッセージがありません
  